.razor .hljs-start {
  background-color: #d2d295;
  color: black; }

.reveal pre {
  box-shadow: none; }

.reveal dl {
  margin-top: .5em; }

.reveal dt {
  color: #42affa; }

.reveal dd {
  font-size: 0.8em; }
